<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myd.helloworld.chapter6.service.repository.StudentMapper">
    <select id="countStu"  resultType="java.lang.Long">
        select count(1) from t_student t
        where 1=1
        <if test="null != criteria.id"> and t.id = #{criteria.id}</if>
    </select>

    <select id="doQueryStudents" resultType="com.myd.helloworld.chapter5.bean.Student">
        select
          t.id,t.name,t.note,t.age
        from t_student t
        where 1=1
        <if test="null != criteria.id"> and t.id = #{criteria.id}</if>
        <if test="null != criteria.name"> and t.name = #{criteria.name}</if>
    </select>

    <select id="doQueryStudentsByPageable" resultType="com.myd.helloworld.chapter5.bean.Student">
        select
          t.id,t.name,t.note,t.age
        from t_student t
        where 1=1
        <if test="null != criteria.id"> and t.id = #{criteria.id}</if>
        <if test="null != criteria.name"> and t.name = #{criteria.name}</if>
    </select>

</mapper>